./cifar-10-batches-py/data_batch_1
./cifar-10-batches-py/data_batch_2
./cifar-10-batches-py/data_batch_5
./cifar-10-batches-py/test_batch
./cifar-10-batches-py/data_batch_4
./cifar-10-batches-py/data_batch_3
./CharRNN_shakespeare.pth
./cifar-10-python.tar.gz
